.container.destin {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/Bitmap destin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-height: 850px) {
    .container.destin {
        height: auto;
    }
}

@media screen and (max-width: 1445px) {
    .container.destin {
        padding-bottom: 22vh;
    }
}

@media screen and (max-width: 1300px) and (min-height: 850px) {
    .container.destin {
        height: auto;
    }
}

@media screen and (min-height: 1500px) {
    .container.destin {
        height: 100vh;
    }
}

@media screen and (max-width: 545px) and (min-height: 1140px) {
    .container.destin {
        height: 100vh;
    }
}

@media screen and (max-width: 550px) and (min-height: 1205px) {
    .container.destin {
        height: 100vh;
    }
}

@media screen and (max-height:586px) {
    .container.destin {
        padding-bottom: 100vh;
    }
}