
.container.destin{
    width: 100%;
    height: 937px;
    background-image: url('../../assets/Bitmap destin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

@media screen and (max-width: 1300px){
    .container.destin{
        height: auto;  
    }
}



@media screen and (max-width: 550px){
    .container.destin{
        min-height: 1100px;
    }
} 

@media screen and (min-height: 1000px){
    .container.destin{
        height: 100vh;
    }
}